{{אישיות|
|שם=
|שם בשפת המקור=
|תמונה=
|כיתוב=
|מדינה=
|תאריך לידה=
|תאריך פטירה=
|מקום לידה=
|מקום פטירה=
|מקום קבורה=
|מקום מגורים=
|כינויים נוספים=
|ידוע בשל=
|ידועה בשל=
|חינוך=
|שנות הפעילות=
|מקצוע=
|תפקיד=
|תואר=
|תקופת כהונה=
|מפלגה פוליטית=
|השקפה דתית=
|בן זוג=
|בת זוג=
|שותף=
|שותפה=
|חתימה=
|אתר אינטרנט=
}}